<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center picpay-text">Processo de seleção PicPay</h1>
      <div class="row center">
        <h5 class="header col s12 light picpay-text">Sim, usei um template "
          <a href="http://materializecss.com/templates/parallax-template/preview.html" target="_blank"
            class="picpay-text heavy">pronto</a>", =D</h5>
      </div>
      <div class="row center">
        <a href="https://www.picpay.com/site/" id="download-button" class="btn-large waves-effect waves-light picpay">Acesse o site do PicPay</a>
      </div>
      <br>
      <br>
    </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img src="/assets/images/outdated-freelancer.jpg" alt="Vai lá, me escolhe ai =D">
  </div>
</div>
<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center picpay-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Velocidade de carregamento</h5>

          <p class="light">Um dos itens para o processo de seleção é a questão da velocidade de carregamento, não usei nenhuma tecnologia
            além do próprio .net, poderiamos ter um elastic ou outro similiar que ajuda muito, mas arquiteturalmente podemos
            usar
            <a href="https://martinfowler.com/bliki/CQRS.html" target="_blank">CQRS</a>, artgo do Martin Folwer no link</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center picpay-text">
            <i class="material-icons">favorite</i>
          </h2>
          <h5 class="center">Angular</h5>

          <p class="light">Utilizei Angular para framework de frontend, gosto muito da separação de responsabilidade que ele trás para o front,
            não tenho problemas com nenhum outro tipo de biblioteca ou framework, ainda esta na minha lista aprender React,
            mas o Angular me deixa confortavél no momento, mas ja fiz POCs com vue.js</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center picpay-text">
            <i class="material-icons">settings</i>
          </h2>
          <h5 class="center">Ordenação para listas</h5>

          <p class="light">Em um sistema o que mais fazemos é Select, por isso é importante a separação no modelo quando inserimos o dado
            e quando o buscamos, por este motivo, quando carrego a lista, já deixo preparado para uma busca mais simples
            em relação a ordenação
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Só estou deixando este bloco aqui para parecer que tem mais coisa</h5>
      </div>
    </div>
  </div>
  <div class="parallax" materialize="parallax">
    <img src="assets/images/background2.jpg" alt="Unsplashed background img 2">
  </div>
</div>